<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>OldData</string>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
  </disabledAdministrativeMonitors>
  <version>2.204.3</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>false</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;h1&gt;&lt;a href=&quot;http://www.kamailio.org/wiki/packages/debs&quot;&gt;Kamailio Debian/Ubuntu repository&lt;/a&gt;&lt;/h1&gt;&#xd;
  &#xd;
&lt;p&gt;This is a public service, provided by &lt;a href=&quot;http://jenkins-debian-glue.org/&quot;&gt;jenkins-debian-glue&lt;/a&gt; and sponsored by &lt;a href=&quot;http://www.sipwise.com/&quot;&gt;Sipwise&lt;/a&gt;&lt;/h1&gt;&#xd;
&lt;p&gt;Configuration (including deployment + scripts) available as &lt;a href=&quot;https://github.com/sipwise/kamailio-deb-jenkins&quot;&gt;kamailio-deb-jenkins&lt;/a&gt;.&lt;/p&gt;</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.8">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.49.1">
      <name>ec2-eu-west-1</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <roleArn></roleArn>
      <roleSessionName></roleSessionName>
      <credentialsId>1b899ce0-4378-4000-9c2a-bce15e9e5f22</credentialsId>
      <privateKey>
        <privateKey>[snip]</privateKey>
      </privateKey>
      <instanceCap>10</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave buster</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:buster</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u buster &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave stretch</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:stretch</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u stretch &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>3</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>2147483647</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave jessie</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:jessie</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u jessie &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave wheezy</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:wheezy</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git checkout 76757 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u wheezy &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave precise</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:precise</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u precise &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave trusty</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:trusty</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u trusty &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave xenial</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:xenial</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u xenial &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave bionic</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:bionic</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u bionic &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-0b865d070a5c0c91c</ami>
          <description>jenkins-debian-glue-slave focal</description>
          <zone></zone>
          <securityGroups>kamailio-jenkins-slave</securityGroups>
          <remoteFS>/home/admin</remoteFS>
          <type>T3Large</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>slave:focal</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>if [ -d /home/admin/kamailio-deb-jenkins ] ; then
  cd /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  git pull --rebase &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
else
  git clone https://github.com/sipwise/kamailio-deb-jenkins.git /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
  sudo chown -R admin:admin /home/admin/kamailio-deb-jenkins &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
fi

cd /home/admin/kamailio-deb-jenkins/ &gt;&gt;/tmp/initsh.log 2&gt;&amp;1
sudo ./ec2/bootstrap.sh -u focal &gt;&gt;/tmp/initsh.log 2&gt;&amp;1</initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>admin</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId>subnet-0cac724e3fcebdcda</subnetId>
          <idleTerminationMinutes>30</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>false</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>1</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <associatePublicIp>true</associatePublicIp>
          <useDedicatedTenancy>false</useDedicatedTenancy>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix></rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>false</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>eu-west-1</region>
      <noDelayProvisioning>false</noDelayProvisioning>
    </hudson.plugins.ec2.EC2Cloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam4.1</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio.*41.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kamdev</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailiodev.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam4.2</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio.*42.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam4.3</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio.*43.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam4.4</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio.*44.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam5.0</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio50.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam51</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio51.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kamcli</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamcli-.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam52</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio52.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>rtpengine</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>rtpengine.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>kam53</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>kamailio53.*</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>kamdev</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>
